#name-map {
    text-align: left;
    font: Bold 18px Arial;
    color: #000000;
    margin-top: 2px;
}
#cat-map{
    text-align: left;
    font: Regular 16px Arial;
    color: #717171;
    margin-top: 3px;
}

.gm-style-iw{
    padding: 0px;
    max-width: 654px;
    max-height: 251px;
    width: 262px;
}

.gm-style-iw-d {
    padding-right: 12px;
    padding-bottom: 12px;
}
