#dates-placeholder{
    background-image: url(../left\ bar.png);
    max-width: 30vw;
    margin-right: 0px;
    height: 1000px;
    background-repeat: no-repeat;
    position: absolute;
    vertical-align: middle;
    padding-right: 1000px;

}