#modal {
    /* margin-top: 70px; */
    max-width: 30vw;
    margin-right: 0px;
    display: inline-block;
    vertical-align: middle;
}

#venue-det {
    width: 35vw;
}

#venue-img {
    margin-top: 0px;

}