#home-back{
    background-image: url(../Background.png);
    background-size: cover;
    /* width: 100vw;
    height: 100vh; */
}

#container {
    padding-top: 178px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

h1, h2, p {
    font-family: Arial;
    text-align: center;
    color: #ffffff;
}

h1{
    font-size: 40px;
    font-family: arial black;
    margin-top: 15px;

}

h2 {
    font-size: 22px;
}

#subTitle {
    margin-bottom: 50px;

}

#copyright {
    font-size: 14px;
    color: #D63930;
    margin-top: 434px;
}
