#home-back{
    background-image: url(../Background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

h1, h2, p {
    font-family: Arial;
    text-align: center;
    color: white;
}

#copyright {
    color: red;
}
