#home-back{
    background-image: url(../Background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

#logo {
    margin-top: 13px;
    margin-left: 16px;
    width: 111px;
    height: 40px;
    padding: 0;
    }    

#container {
    text-align:center; 
    position: relative; 
    width: 100vw;
    margin: auto;
    min-height: 100vh;
}

h2, p {
    font-family: Arial;
    text-align: center;
    color: #ffffff;
}

h1{
    padding-top: 178px;
    font-size: 40px;
    font-family: arial black;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-size: 18px;
}

#subTitle {
    margin-bottom: 50px;

}

#copyright {
    color: #D63930;
    position: absolute;
    font-size: 12px;
    display: block;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 1280px) , screen and (max-width: 1920px) {
    #container{  overflow-x: auto; overflow-y: auto; }                     
}

@media only screen and (min-width: 0px) and (max-width: 767px)
{ 
    #container{width:100%;overflow:hidden;}

}